#map {
	float: left;
	width: 50%;
	height: 500px;
}

#info {
	float: right;
	width: 48%;
	padding-left: 1%;
	padding-top: 0;
	background-color: cyan;
	border-left: 2px solid blue;
}

h1 {
	font-size: 20px;
}

.term {
	font-weight: bold;
}

#year-range {
	width: 45%;
	clear: left;
	margin-top: 1em;
}

#year-inputs {
	clear: left;
	margin-top: 50px;
}